<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../Photos/Logo%20(2).ico" />
    <title> Title </title>
</head>


<body>
    <div class="container-fluid">
        <!-- Navbar-sm-up -->
        <nav class="navbar hidden-xs navbar_custom" role="navigation">
            <div class="col-md-3 col-xs-2 logo">
                <a href="#"><img src="../Photos/Logo.png" alt="Logo"></a>
            </div>
            <div class="col-md-6 col-xs-8 center_nav">
                <a href="#" class="active">Active</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </div>
            <div class="col-md-3 col-xs-2">
                <button class="btn btn_custom">Button</button>
            </div>
        </nav>
        <!-- Navbar xs -->
        <nav class="navbar visible-xs-inline">
            <div class="container">
                <div class="col-xs-6 logo_xs">
                    <a href="#"><img src="../Photos/Logo.png" alt="Logo"></a>
                </div>
                <div class="col-xs-6 menu_custom">
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-bars"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="active">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link-Button</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <script src="../Jquery/jquery-3.3.1.min.js"></script>
    <script src="../Bootstrap/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>

</html>
